@model List<BikeDemo.Models.BikeListModel>

@{
    ViewBag.Title = "Road";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Road Bikes</h2>

<table class="table">
    <tr>

        <th>
            Model List
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <h4>@Html.ActionLink(item.ProductModel, "Details", new { id = item.ProductModelID })</h4>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

        </tr>
    }

</table>