table.results {
	border: 1px solid black;
	border-collapse:collapse;
}

.results th {
	font-size:1.4em;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#A7C942;
	color:#fff;
}

.results td, .results th {
	font-size:1.2em;
	border:1px solid #98bf21;
	padding:3px 7px 2px 7px;
}

.results tr:nth-child(odd) {
	color:#000;
	background-color:#EAF2D3;
}

td.v {
	text-align:right;
}