@model IEnumerable<BikeDemo.ProductCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Browse our selection of cycling accessories</h2>

<table class="table">
    <tr>
        <th>
            Gear Categories
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, item.Name)
            </td>

        </tr>
    }

</table>

